.b-layout-table_layout_24-72 .b-layout-table__gap
{
    width: 2%;
}

.b-layout-table_layout_24-72 .b-layout-table__gap-i
{
    width: 20px;
}

.b-layout-table_layout_24-72 .b-layout-table__cell_position_left
{
    width: 24%;
}

.b-layout-table_layout_24-72 .b-layout-table__cell_position_right
{
    width: 72%;
}

.b-layout-table_layout_24-72 .b-layout-table__inner
{
    margin-right: 20px;
}
