.b-layout-table_layout_48-46 .b-layout-table__gap
{
    width: 2%;
}

.b-layout-table_layout_48-46 .b-layout-table__gap_position_left
{
    width: 4%;
}

.b-layout-table_layout_48-46 .b-layout-table__gap-i
{
    width: 20px;
}

.b-layout-table_layout_48-46 .b-layout-table__cell_position_left
{
    width: 48%;
}

.b-layout-table_layout_48-46 .b-layout-table__cell_position_right
{
    width: 46%;
}

.b-layout-table_layout_48-46 .b-layout-table__inner
{
    margin-right: 20px;
}
