.b-layout-table_layout_54-46 .b-layout-table__cell_position_left
{
    width: 54%;
}

.b-layout-table_layout_54-46 .b-layout-table__cell_position_right
{
    width: 46%;
}

.b-layout-table_layout_54-46 .b-layout-table__inner
{
    margin: 0 20px;
}
