.b-menu-vert_list_blocks .b-menu-vert__text,
.b-menu-vert_list_blocks .b-menu-vert__trigger
{
    font-family: Times New Roman;
}

.b-menu-vert_list_blocks .b-menu-vert__trigger
{
    font-size: 110%;

    display: inline-block;

    width: 140px;

    white-space: nowrap;
    
    color: #7f7e7e !important;
}

.b-menu-vert_list_blocks .b-menu-vert__trigger:before
{
    font-size: 80%;
    font-weight: bold;

    display: inline-block;

    width: 0.8em;

    content: '+ ';
}

.b-menu-vert_list_blocks .b-menu-vert__trigger_state_opened:before
{
    vertical-align: text-top;

    content: '- ';
}

.b-menu-vert_list_blocks .b-menu-vert__layout-unit
{
    margin-bottom: 10px;    
}

.b-menu-vert_list_blocks .b-menu-vert_type_submenu
{
    margin-bottom: 7px;
}

.b-menu-vert_list_blocks .b-menu-vert
{
    margin-left: 10em;
}

.b-menu-vert_list_blocks .b-menu-vert__text
{
    font-size: 90%;
    font-style: italic;

    padding-left: 40px;

    white-space: nowrap;

    color: #7f7e7e;
}

.b-menu-vert_list_blocks .b-menu-vert__text:before
{
    content: '— ';
}
