.b-logo
{
    font-size: 340%;
}

.b-logo__link:link,
.b-logo__link:hover,
.b-logo__link:visited
{
    text-decoration: none;

    color: #444;
}

.b-logo__text
{
    font: 60% 'Times New Roman';
    font-style: italic;

    margin-left: 0.5em;
}
