.b-head-links__menu
{
    display: inline-block;

    padding: 10px 14px;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    box-shadow:2px 2px 2px #ccc;

    background: #fff;
}

.b-head-links__menu .b-menu-vert__layout-unit
{
    margin-bottom: 5px;
}

.b-head-links__menu .b-menu-vert__layout-unit_position_last
{
    margin-bottom: 0;
}